body, html { overflow-x: hidden}

.navbar{
    background-color: rgba(0,0,0,0.5);

}

.content1{
    padding: 23%;
    text-align: center;
}

.content3{
    padding: 15%;
    padding-top: 35%;
    text-align: center;
}

.bg1{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("stage 2.jpg");

}

.bg2{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("stage.jpg");
    padding: 7%;
}

.bg3{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("stage 3.jpg");
}

.view{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 130vh;
    background-attachment: fixed;
}

.scroll_bg1{
    background-color: brown;
}

.scroll_bg2{
    background-color: darkgreen;
}

.scroll{
    height: 100%;
    background-size: cover;
    background-position: center center;
    padding: 13%;
    color: white;
    font-size: 20px;
}

.box {
    width:300px;
    height:auto;
    background-color: rgb(230,100,100);
    border: solid 0.3em;
    border-color: white;
    border-radius: 20px;
    font-size: 18px;
    text-align: justify;
    padding: 3%;
    text-align: center;
}


h2{
    font-weight: bold;
    font-family: "Times New Roman";
    font-size: 37px;
}


