html,body{height: 100%; width: 100%; background: url("societe.jpg") no-repeat center center; background-size: cover}

.container{
    position: center;
    padding-top: 60vh;
    padding-left: 5vh;
    padding-right: 10px;
    padding-bottom: 10px;

}